.main-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: var(--bg-layer1);
    transition: max-width 0.3s ease-in-out;
    gap: 54px;
}

.enter-email {
    display: flex;
    align-items: center;
}

.forgot-password-email-row {
    padding: 0 26px;

    display: flex;
    flex-direction: column;
    gap: 27px;
}

.forgot-password-update-row {
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

@media (min-width: 640px) {
    .main-container {
        width: 768px;
        margin: 0 auto;
        position: relative;
    }
}