.main-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 26px 20px 26px;
}

.logo {
  display: flex;
  flex-direction: flex-start;
  align-items: start;
  position: relative;
  left: -10px;
  top: 15px;
}

.sign-in,
.sign-up {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
}

.sign-in #remember {
  width: 24px;
  height: 24px;
  accent-color: var(--accent);
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgot-password {
  color: var(--accent);
}

.checkbox-container {
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 1em;
  padding: 10px;
  margin: 20px 0;
}

.dont-have-account {
  display: flex;
  justify-content: center;
}

.sign-up #remember {
  width: 24px;
  height: 24px;
  accent-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 50%;
}

.sign-up__container {
  margin: 0 0 0 0;
  width: 100%;

  display: flex;
  align-items: center;
}

.sign-up__container .option {
  color: #757171;
  font-size: 12px;
  font-weight: 400;
  padding: 0 6px;
}

.sign-up__container .hr {
  flex: 1;
  width: 100%;
  height: 1px;
  background-color: #a39797;
}

.back {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  margin-bottom: 50px;
}

.background {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
}

.socmed {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.socmed {
  margin: 38px 0 0 0;
}

.googleIcon {
  height: 22px;
  width: 22px;
}

.login-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 0;
}

.login-option span {
  margin-right: 10px;
}

.back {
  display: flex;
  align-items: center;
  gap: 8px;
}

.otp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.otp-input {
  width: 50px; /* Adjust the initial width */
  height: 50px; /* Adjust the initial height */
  background-color: white;
  color: #000;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
  padding: 5px;
}


.signup-word {
  color: var(--accent-danger);
}

.enter-code {
  display: flex;
  align-items: center;
}
.enter-code svg {
  margin-left: 5px;
  fill: #000;
}

.enter-code {
  position: relative;
}

.overlay-bubble {
  position: absolute;
  margin: 120px 80px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  z-index: 1;
  display: none;
}

.show {
  display: block;
}


@media (max-width: 768px) {
  .otp {
    flex-wrap: wrap;
    justify-content: center; /* Center the items vertically */
  }

  .otp-input {
    width: 60px; /* Adjust the width for smaller screens */
    height: 60px; /* Adjust the height for smaller screens */
    font-size: 20px;
    margin: 5px;
  }
}

/* Media query for screens with min-width: 375px */
@media (min-width: 375px) {
  .otp-input {
    width: 55px; /* Adjust the width for even smaller screens */
    height: 55px; /* Adjust the height for even smaller screens */
    font-size: 19px;
  }
}