.search-container {
    height: auto;
    /* padding-bottom: 38px; */

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg);
}

.search-nav {
    position: static;
    width: 100%;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-main,
.filter-main {
    /* margin-top: 64px; */

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location-main {
    padding: 0;
}

.filter-main {
    padding: 0 12px;
}

.location-button {
    display: flex;
    justify-content: center;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.location-map,
.filter-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.search-button {
    padding: 12px;
}

.location-zone {
    display: flex;
    align-items: center;
}

.map-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-col {
    display: flex;
    align-items: center;
}

@media (min-width: 640px) {
    .search-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .search-nav {
        width: 768px;
    }
}
