@import url('./ButtonStyle.module.css');
.btn {
    border: 1px solid var(--accent);
    background-color: transparent;
    color: var(--accent);
    fill: var(--accent);
}

.btn:hover {
    background-color: rgba(var(--accent-rgb), 0.1);
}

.btn:disabled {
    color: #868a98;
    border-color: #c8cde0;
    background-color: transparent;
}

.btn-danger {
    background-color: transparent;
    color: var(--accent-danger);
    fill: var(--accent-danger);
    border-color: var(--accent-danger);
}

.btn-danger:hover {
    background-color: rgba(var(--accent-danger-rgb), 0.1);
}
.icon path {
    fill: inherit;
}
.icon svg {
    fill: inherit;
}
