@import url('./ButtonStyle.module.css');
.btn {
    background-color: var(--accent);
    color: #fff;
    fill: #fff;
}

.btn:hover {
    background-color: #026a47;
}

.btn-danger {
    background-color: var(--accent-danger) !important;
}

.btn-danger:hover {
    background-color: var(--accent-danger-secondary) !important;
}

.btn:disabled {
    background-color: #85d5bc !important;
    /* background-color: rgba(var(--accent-rgb), 0.65) !important; */
}

.btn-danger:disabled {
    background-color: rgba(var(--accent-danger-rgb), 0.65) !important;
}

.icon path {
    fill: #fff;
}
.icon svg {
    fill: #fff;
}
