.container {
    padding: 0 12px;

    display: flex;
    flex-direction: column;
}

.create-unit-form-container {
    width: 100%;
}

.main-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-details-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.basic-details-button {
    display: flex;
    justify-content: end;
}

.facilities-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.location-form-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.location-map-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location-map {
    height: 100%;
    width: 100%;
}

.location-map img {
    height: 100%;
    width: 100%;
}

.upload-image-size {
    height: 220px;
}

.upload-image-size img {
    width: 100%;
    height: 100%;
}

.upload-image-button {
    position: relative;
}

.upload-image-button input {
    position: absolute;
    opacity: -1;
    width: 100%;
    height: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .location-map-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .location-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .upload-image-size {
        height: 300px;
    }

}

