.container {
    padding: 0 12px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.create-unit-form-container {
    width: 100%;
}

.main-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-details-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.basic-details-button {
    display: flex;
    justify-content: end;
}

.facilities-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.location-container {
    display: flex;
    gap: 12px;
    align-items: center;
}

@media (min-width: 640px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}

