.report {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 530px;
    overflow: scroll;
    border-radius: 10px; */
}

.report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 68px;
    padding-bottom: 81px;
}

.outer {
    height: 62px;
    width: 62px;
    padding: 11px;
    background: rgba(3, 176, 119, 0.2);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.success-icon {
    color: var(--accent);
}

/* .inner {
    height: inherit;
    width: inherit;
    background: var(--accent);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
/* .container-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-title .title {
    color: var(--accent-danger);   
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.container-title .icon {
    color: var(--accent-danger);
    width:25px;
    height: 25px;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.report-container-main {
    text-align: justify;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.report-container-main .caption-title {
    color: var(--fc-body);
    font-weight: 700;
}

.violation-section {
    display: flex;
    flex-direction: column;
}

.violation-title {
    color: var(--fc-body);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}

.report-buttton {
    margin-top: 17px;
}

@media (max-width: 768px) {
    .report {
        width: 450px;
    }
} */

@media (max-width: 426px) {
    .report {
        width: 320px;
    }
}

@media (max-width: 325px) {
    .report {
        width: 290px;
    }
}