.message-container {
    background: var(--bg);
    margin-top: 58px;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
}

.messages {
    min-height: min-content;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    overflow: auto;
    padding: 12px;
    gap: 8px;
}
.recipient-container {
    display: flex;
    align-items: flex-end;
    padding-right: 12px;
    gap: 12px;

    /* border: 1px solid red; */
}
.user-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 12px;
    /* gap: 12px; */

    /* border: 1px solid red; */
}

.msg-image {
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.chat-message {
    display: inline-block;
    word-break: break-word;
    background-color: #e1e6e9;
    display: flex;
    align-items: flex-end;
    gap: 12px;

    border-radius: 16px 16px 16px 4px;
    padding: 10px 18px;

    max-width: 70%;
}

.user-container .chat-message {
    background-color: var(--accent);
    color: #fff;
    display: flex;
    align-items: flex-end;
    gap: 12px;

    border-radius: 16px 16px 4px 16px;
    padding: 10px 18px;

    max-width: 70%;
    overflow-wrap: break-word;
}

.chat-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;

    background: var(--bg-layer4);

    display: flex;
}

.chat-img img {
    object-fit: cover;
    width: inherit;
    height: inherit;
}
.system-container {
    text-align: center;
}

.faq-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
}

.faq {
    background-color: #e1e6e9;
    border-radius: 24px;
    padding: 10px 18px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    word-wrap: break-word;
    flex-wrap: wrap;
}
