.edit-profile-container {
    position: relative;

    display: flex;
    flex-direction: column;
}

.edit-profile-design {
    border: 1px solid red;
    position: absolute;
    top: 0;
    right: 0;
}

.edit-profile-main {
    margin-top: 61px;
    z-index: 1;
}

.user-details {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 100px;
    height: 100px;
    position: relative;
    padding: 6px;
}

.photo img {
    height: inherit;
    width: inherit;
    object-fit: cover;

    border-radius: 50%;
}

.edit-profile {
    color: #8A93A6;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 4px;
    bottom: 8px;
    cursor:pointer;

    display: flex;
}

.edit-profile .camera-icon {
    fill: #8A93A6;
}

.edit-input {
    position: absolute;
    right: 4px;
    bottom: 6px;
}

.edit-input input {
    width: 20px;
    height: 30px;
    opacity: 0;
}

.user-data {
    margin: 55px 45px 32px 45px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user-data-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.verify-account {
    border-radius: 4px;
    background: rgba(235, 88, 88, 0.04);
    padding: 8px 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
    gap: 4px;
}

.verify-account p, svg {
    color: var(--fc-body);
}

.verify-account p {
    text-decoration: none;
}

@media (min-width: 640px) {
    .edit-profile-container {
        width: 768px;
        margin: 0 auto;
    }
}