.profile-container {
    position: relative;

    display: flex;
    flex-direction: column;
}

.profile-design {
    position: absolute;
    right: 0;
}

/* This is for the app nav */
.toolbar-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.toolbar-container .edit-feature-title p {
    font-size: 16px;
    font-weight: 700;
}
/* This is for the app nav */

/* .link-button {
    position: absolute;
} */

/* .edit-feature-title {
    flex: 1;
    text-align: center;
} */