.profile-container {
    position: relative;

    display: flex;
    flex-direction: column;
}

.top-back-container {
    position: fixed;
    width: 100%;
}

.profile-design {
    position: absolute;
    right: 0;
}

/* This is for the app nav */
.toolbar-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.toolbar-container .edit-feature-title p {
    font-size: 16px;
    font-weight: 700;
}
/* This is for the app nav */

.profile-main {
    padding: 0 13px;
    margin-top: 56px;
}

.profile-user {
    display: flex;
    flex-direction: column;
}

.user-profile {
    margin-top: 61px;

    display: flex;
    align-items: center;
    gap: 4px;
}

.photo {
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid var(--accent-dark);
    border-radius: 50%;
}

.photo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    display: flex;
    align-items: center;
}

.user-menu {
    margin-top: 55px;
}

.about-section {
    margin-top: 127px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.about-row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.about-col {
    width: 146px;
    border-radius: 10px;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    padding: 14px 5px;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.about-image {
    width: 84px;
    height: 84px;
}

.about-image img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.about-rule {
    width: 84px;
    height: 84px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rule {
    width: 65px;
    height: 64px;
    transform: rotate(14.685deg);

    border-radius: 16px;
    background: #f4f6f9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-button {
    margin-top: 59px;
    margin-bottom: 38px;
}

@media (min-width: 640px) {
    .profile-container {
        max-width: 768px;
        margin: 0 auto;
    }

    .top-back-container {
        width: 768px;
    }
}
