.status-chip {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 8px;
    border-radius: 25px;
    max-width: fit-content;

    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 10px;
}

.status-chip-pending {
    background: #5171e6;
    color: #fff;
}

.status-chip-success {
    background: #03af76;
    color: #fff;
}

.status-chip-complete {
    background: #e58f51;
    color: #fff;
}

.status-chip-danger {
    background: #af2003;
    color: #fff;
}

.status-chip-cancel {
    background: #bb5500;
    color: #fff;
}
