.card {
    align-items: center;
    border-radius: 7px;
    border: 1px solid var(--border-color);
    background: var(--bg-layer1);
    display: flex;
    font-weight: 400;
    font-size: 1.25rem;
    justify-content: center;
    padding: 10px 12px 10px 12px;
    width: fit-content;
}

.button {
    background: none;
    cursor: pointer;
    color: var(--fc-strong);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.count {
    padding: 0 18px 0 18px;
}
