.container {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */

    width: 100%;
    height: 100vh;

    margin: 0 auto;

    /* background: var(--bg); */
}

.nav-container {
    max-width: 768px;
    position: fixed;
}

.header-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-inline: 24px;
    margin-top: 52px;
}

.header-container h1 {
    margin: 0;
    font-family: 'Tangerine';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    background: var(
        --gradient,
        linear-gradient(88deg, #03b077 -1.56%, #a4eb5d 41.56%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-container h3 {
    color: var(--fc-body);
    text-align: center;
}

.header-container p {
    font-size: 14px;
    text-align: center;
    max-width: 425px;
}

.subscriptions-container {
    height: 100vh;
    /* margin-top: 50px; */
    /* border: 1px solid red; */
}

/* .subscriptions-container {
    height: 100vh;
    border: 1px solid red;
} */

.cards-container {
    display: flex;
    flex: 1;
}

.card {
    background: var(--bg-layer1);
    box-shadow: rgb(238, 243, 251) 0px 4px 8px;
    border: 1px solid #dee6f1;
    padding: 24px 22px;
    min-width: 280px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscription-title-container {
    display: flex;
    justify-content: center;
}

.subscription-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.subscriptions-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-title h2 {
    font-size: 30px;
    margin: 0;
    color: black;
}

.currency {
    display: flex;
    margin-top: 12px;
    align-items: flex-start;
    font-size: 2.5em;
    color: var(--fc-strong);
    font-weight: 800;
}

.price-container {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.price-container h1 {
    margin: 0;
    line-height: 1em;
    font-size: 5em;
}

.month-label {
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    margin-bottom: 10px;
    color: var(--fc-body);
}

.features-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    gap: 9px;
    padding-left: 6px;
    padding-right: 13px;
}

.feature {
    display: flex;
    gap: 8px;
}
.feature span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature p {
    color: var(--fc-strong);
    font-weight: 500;
    text-align: justify;
    word-spacing: 0px;
    font-size: 15px;
}

.see-all-features-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 4px;
    color: var(--accent);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: var(--accent);
    margin-top: -2px;
}
/* .action {
    margin-top: 24px;
} */

@media (min-width: 640px) {
    .container {
        width: 768px;
        margin: 0 auto;
        position: relative;
    }
}

@media (max-width: 768px) {
    /* .container {
        width: 768px;
        margin: 0 auto;
        position: relative;
    } */

    .header-container p {
        font-size: 10px;
    }
    .subscription-title h2, .price-container .currency {
        font-size: 30px;
    }

    .subscription-details p, .price-container .month-label, .subscription-details {
        font-size: 12px;
    }

    .price-container h1 {
        font-size: 60px;
    }

    .feature p {
        font-size: 12px;
    }
}
