.amenity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #5c6173;
    padding: 4px;
    border-radius: 50px;
    border: 2px solid #e4e9ed;
    height: 18px;
}

.amenity-icon {
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9d9d9;
    padding: 4px;
    border-radius: 50%;
}

.amenity-container svg {
    stroke: var(--fc-body);
}
.amenity-name {
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #8a93a6;
    margin-inline: 4px !important;
}
